<div class="simple-form">
    <h1>Account</h1>
    <div class="line"></div>
    <table class="form">
        <tr>
            <td  valign="top"><span class="contentTitle3">
                    Summary</span></td>
        </tr>
        <tr>
            <td>
                <table class="form">
                    <tr>
                        <td class="form_label">
                            Account Number</td>
                        <td class="form_field" ><strong>
                                {$smarty.session.login_account_number}</strong></td>
                    </tr>
                    <tr>
                        <td class="form_label">
                            Account Name</td>
                        <td class="form_field" ><strong>
                                {$account_info.account_name}</strong></td>
                    </tr>
                    <tr>
                        <td class="form_label">
                            Account Type</td>
                        <td class="form_field" ><strong>
                                {if $account_info.account_type eq 'user'} User {/if}</strong></td>
                    </tr>
                    <tr>
                        <td class="form_label">
                            Referral Count </td>
                        <td class="form_field" ><strong>
                                {$account_info.referral_count}</strong></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table class="list">
        <thead>
            <tr>
                <td >&nbsp;</td>
                {section name=balanceidx loop=$balances}	
                <td><strong>{$balances[balanceidx].balance_code}</strong></td>
                {/section}
            </tr>
        </thead>

        <tbody>
            <tr>
                <td >Account</td>
                {section name=balanceidx loop=$balances}	
                <td>{$balances[balanceidx].balance_text}</td>
                {/section}
            </tr>
            <tr>
                <td >Wallet</td>
                {section name=walletidx loop=$wallets}	
                <td>{$wallets[walletidx].balance_text}</td>
                {/section}	
            </tr>
            <tr>
                <td ><strong>Totals</strong></td>
                {section name=totalidx loop=$totals}	
                <td><strong>{$totals[totalidx].balance_text}</strong></td>
                {/section}	
            </tr>
        </tbody>

    </table>
    {if isset($smarty.session.payee_account)}
    <a class="button" href="{dev_get_page_link page=PAGE_SCI_TRANSFER module=acount ssl=true}">Confirm</a>
    {/if}
</div>


