<form name="frmPersonal" method="post" action="{dev_get_page_link page=PAGE_ACCOUNT_PERSONAL ssl=true}"  >
    <input class="inputtext" type="hidden" name="action" value="update_account"  />
    <div class="simple-form">
        <h1>Account Personal Information</h1>
        <p>The following section can only be viewed after you enter your master key.</p>
        <p>Fields 
            marked with asterisk (<i>*</i>) are 
            required.</p>
        <div class="line"></div>
        {include file="$_TEMPLATE_SOURCE_DIR/modules/validate_error.tpl" }
        {if $success}
        <div class="success">Your acount information hava been updated successfully</div>
        {/if}
        <h3>Personal Information</h3>
        <table class="form">
            <tr>
                <td>
                    <i>*</i>Account Name:</td>
                <td>
                    <input class="inputtext" type="text" name="account_name" value="{$account_name}" size="20"></td>
            </tr>  
            <tr>
                <td>
                    <i>*</i>First Name:</td>
                <td>
                    <input class="inputtext" type="text" name="firstname" value="{$firstname}" size="20"></td>
            </tr>  
            <tr>
                <td>
                    <i>*</i>Last Name:</td>
                <td>
                    <input class="inputtext" type="text" name="lastname" value="{$lastname}" size="20"></td>
            </tr>      
            <tr>
                <td>
                    Company Name:</td>
                <td>
                    <input class="inputtext" type="text" name="company" value="{$company}" size="50"></td>
            </tr>  
            <tr>
                <td>
                    <i>*</i>Phone:</td>
                <td>
                    <input class="inputtext" type="text" name="phone" value="{$phone}" size="20"></td>
            </tr>  
            <tr>
                <td>
                    Mobile:</td>
                <td>
                    <input class="inputtext" type="text" name="mobile"  value="{$mobile}" size="20"></td>
            </tr>          
        </table>

        <h3>Contact Information</h3>
        <table class="form">
            <tr>
                <td>
                    <i>*</i>Address:</td>
                <td>
                    <input class="inputtext" type="text" name="address" value="{$address}" size="50"></td>
            </tr>  
            <tr>
                <td>
                    <i>*</i>City:</td>
                <td>
                    <input class="inputtext" type="text" name="city" value="{$city}" size="50"></td>
            </tr>    
            <tr>
                <td>
                    <i>*</i>Country:</td>
                <td>
                    <select name="country"  class="inputtext"  onchange="getStates(this.value);">
                        {html_options options=$countries_array selected=$country}</select></td>
            </tr>  
            <tr>
                <td>
                    <i>*</i>State:</td>
                <td><select name="state"  id="state" class="state inputtext" >
                        {html_options options=$zones_array selected=$state}</select></td>
            </tr>      
            <tr>
                <td>
                    <i>*</i>Zip/Postal Code:</td>
                <td>
                    <input class="inputtext" type="text" name="postcode" value="{$postcode}" size="20"></td>
            </tr>    
        </table>

        <h3>Additional Information</h3>
        <table class="form">
            <tr>
                <td>
                    Additional Information:</td>
                <td>
                    <textarea  name="additional_information" value="{$additional_information}" cols="40" rows="2">{$additional_information}</textarea></td>
            </tr> 
            <tr>
                <td   height="32">
                    <i>*</i>Master Key:</td>
                <td width="442"  height="32">
                    <input class="inputtext" type="password" name="master_key" size="5" maxlength="3"></td>
            </tr>
        </table>    


        <div class="buttons">
            <input class="button" value="Apply Changes" type="submit" name="buttonUpdate">
        </div>
    </div>

</form>
