<form name="frmPersonal" method="post" action="{dev_get_page_link page=PAGE_ACCOUNT_PERSONAL ssl=true}"  >
    <input type="hidden" name="action" value="process"  />
    <div class="simple-form">
        <h1>Account Personal Information</h1>
        <p>The following section can only be viewed after you enter your master key.</p>
        <p>Fields 
            marked with asterisk (<i>*</i>) are 
            required.</p>
        <div class="line"></div>
        {include file="$_TEMPLATE_SOURCE_DIR/modules/validate_error.tpl" }
        <div class="st-form-line">
            <span class="st-labeltext"><i>*</i>Master Key:</span>
            <input type="password" autocomplete="off" name="master_key" size="5" maxlength="3" class="st-forminput medium">
            <div class="clear"></div>
        </div>
        <div class="st-form-line captcha">
            <span class="st-labeltext"></span>
            <input class="button" type="submit" value="Next" />
        </div>
    </div>
</form>