<form name="frmLogin" action="{dev_get_page_link page=PAGE_ACCOUNT_PUBLIC ssl=true}" method="post" >
    <input name="action" value="process" type="hidden" />
    <div class="simple-form">
        <h1> Account Public Settings </h1>
        <p>Global Cash have a this function so that you can allow your account information be public and searchable.</p>
        <div class="line"></div>
        <div class="clear"></div>
        {if $updated}
        <div class="success">Your settings have been saved.</div>
        {/if}

        <table class="form">
            <tr>
                <td width="138" >
                    Account Name:</td>
                <td >
                    <strong>{$account_info.account_name}</strong></td>
            </tr>
            <tr>
                <td  >
                    Account Type:</td>
                <td  > 
                    <strong>{if $account_info.account_type=='user'}User{/if}</strong></td>
            </tr>
            <tr>
                <td  >
                    Account Number:</td>
                <td  > 
                    <strong>{$account_info.account_number}</strong></td>
            </tr>			  			  
            <tr>
                <td  >
                    Created on:</td>
                <td  > 
                    <strong>{$account_info.signup_date|date_format:"%m/%d/%Y %l:%M %p"}</strong></td>
            </tr>	

            <tr>
                <td width="138" ><input type="checkbox" name="name" value="1" {if $name} checked="checked"{/if}/>
                    Full Name:</td>
                <td >
                    {$account_info.firstname} {$account_info.lastname}</td>
            </tr>
            <tr>
                <td  ><input type="checkbox" name="email" value="1" {if $email} checked="checked"{/if}/>
                    E-mail:</td>
                <td  > 
                    {$account_info.email}</td>
            </tr>
            <tr>
                <td  >
                    <input type="checkbox" name="address" value="1" {if $address} checked="checked"{/if}/> Address:</td>
                <td  > 
                    {$account_info.address},{$account_info.city} {$account_info.postcode} {dev_get_state_name state=$account_info.state} {dev_get_country_name country=$account_info.country}</td>
            </tr>			
            <tr>
                <td  ><input type="checkbox" name="company" value="1" {if $company} checked="checked"{/if}/>
                    Company:</td>
                <td  > 
                    {$account_info.company}</td>
            </tr>					    			  
            <tr>
                <td  ><input type="checkbox" name="phone" value="1" {if $phone} checked="checked"{/if}/>
                    Phone:</td>
                <td  > 
                    {$account_info.phone}</td>
            </tr>		         
            <tr>
                <td  ><input type="checkbox" name="mobile" value="1" {if $mobile} checked="checked"{/if}/>
                    Mobile:</td>
                <td  > 
                    {$account_info.mobile}</td>
            </tr>				       
            {section name=balanceidx loop=$balances_list}	
            <tr>
                <td  ><input type="checkbox" name="balance_settings[]" value="{$balances_list[balanceidx].balance_code}"  />
                    Balance({$balances_list[balanceidx].balance_name}):</td>
                <td  > 
                    {$balances_list[balanceidx].balance_text}</td>
            </tr>			
            {/section}
            <tr>
                <td  ></td>
                <td  >  <input class="button" value="Apply Changes" type="submit" name="buttonUpdate"></td>
            </tr>	

        </table>
    </div>
</form>