<form name="frmTransfer" id="frmTransfer" method="get" action="{$url}" >
    <div class="simple-form">
        <h1>Transfer Successful </h1>

        <div class="line"></div>
        {if !empty($error)}
        <input type="hidden" name="error" value="{$error}"/>
        {/if}

        {if $history.transaction_status == 'completed'}
        <p>Your transfer was successful!.</p>
        {if !empty($url)}
        <p>you will redirect within 10 seconds.</p>
        {/if}
        <table cellspacing="0" cellpadding="0" bordercolor="#111111" border="0" style="border-collapse: collapse" class="form_content">
            <tbody><tr>
                    <td class="form_label"><font size="2" face="Tahoma">Date:</font></td>
                    <td class="form_field"><font size="2" face="Tahoma">{$transaction.transaction_time}</font></td>
                </tr>	
                <tr>
                    <td class="form_label"><font size="2" face="Tahoma">Batch Number#:</font></td>
                    <td class="form_field"><font size="2" face="Tahoma">{$transaction.batch_number}</font></td>
                </tr>	
                <tr>
                    <td class="form_label"><font size="2" face="Tahoma">From:</font></td>
                    <td class="form_field"><font size="2" face="Tahoma">{$transaction.from_account}(<strong>{$user_transfer.account_name}</strong>)</font></td>
                </tr>	    
                <tr>
                    <td class="form_label"><font size="2" face="Tahoma">To:</font></td>
                    <td class="form_field"><font size="2" face="Tahoma">{$transaction.to_account}</font></td>
                </tr>	 
                <tr>
                    <td class="form_label"><font size="2" face="Tahoma">Amount:</font></td>
                    <td class="form_field"><font size="2" face="Tahoma">{$transaction.amount_text}</font></td>
                </tr>	 
                <tr>
                    <td class="form_label"><font size="2" face="Tahoma">Transaction Memo:</font></td>
                    <td class="form_field"><font size="2" face="Tahoma">{$transaction.transaction_memo}</font></td>
                </tr>	       
                {if !empty($url)}
                <tr>
                    <td class="">

                    </td>
                    <td class="">
                        <button type="submit">Return</button>
                    </td>
                </tr>
                {/if}
            </tbody>
        </table>  

        {else}
        <p>{$history.description}</p>
        <table class="form">
            <tr>
                <td class="">

                </td>
                <td class="">
                    <button type="submit">Return</button>
                </td>
            </tr>
        </table>
        {/if}
    </div>

    {if !empty($url)}
    {literal}
    <script>
        var interval = 1000;
        var i = 3
        setInterval(function(){
            i--;
            if(i == 0){
                jQuery('form#frmTransfer').submit();
            }
        }, interval);
    </script>
    {/literal}
    {/if}
</form>