<div class="simple-form">
    <h1>Settings</h1>
    <p>The following section can only be viewed after you enter your master key.</p>
    <p>Fields 
        marked with asterisk (<i>*</i>) are 
        required.</p>
    <div class="line"></div>
    {if $step=='updated'}
    <div class="success">Your changes have been successfully saved.</div>
    {/if}
    {include file="$_TEMPLATE_SOURCE_DIR/modules/validate_error.tpl" }
    <div class="contents">
        {$html_content}
    </div>
</div>
