<form name="frmTransfer" method="post" action="{dev_get_page_link page=PAGE_ACCOUNT_TRANSFER_WALLET ssl=true}"  >
    <div class="simple-form">
        <h1>Transfer To Wallet</h1>
        <p>Please use this form to transfer funds to wallet</p>
        <p>Fields marked with asterisk (<i>*</i>) are required.</p>
        <div class="line"></div>
        {include file="$_TEMPLATE_SOURCE_DIR/modules/validate_error.tpl" }
        {if $success}
        <div class="success">Transfer success</div>
        {/if}
        <div class="st-form-line">
            <span class="st-labeltext"><i>*</i> Currency:</span>
            <select name="balance_currency" >
                {html_options options=$balance_currencies selected=$balance_currency}
            </select>
            <div class="clear"></div>
        </div>
        <div class="st-form-line">
            <span class="st-labeltext"><i>*</i> Amount:</span>
            <input  name="amount" type="text" id="amount"  value="{$amount}"  size="10" />
            <div class="clear"></div>
        </div>
       
        <div class="st-form-line">
            <span class="st-labeltext"><i>*</i> Master Key(3 digits)</span>
            <input  name="master_key" type="password" id="master_key"  value="{$master_key}"  size="4"  maxlength="3"/> 
            <div class="clear"></div>
        </div>
        <div class="st-form-line captcha">
            <span class="st-labeltext"></span>
            <input  type="submit" class="button"  value="Transfer" />
        </div>
    </div>
</form>