<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<div align="right">
  <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="650" id="AutoNumber1" height="20">
    <tr>
      <td width="100%">&nbsp;</td>
    </tr>
  </table>
</div>
<div align="center">
  <center>
  <table cellpadding="2" cellspacing="0" border="0" width="580" style="border-collapse: collapse" bordercolor="#111111" >
	<tr> <td  class="pageHeading" height="50" valign="top"><b>
      <font face="Tahoma" color="#6666FF">Account</font></b></td></tr>
	<tr><td><font size="2" face="Tahoma">{include file='home/modules/account_header.html'}</font></td></tr>
	
</table>
  </center>
</div>
<font size="2" face="Tahoma">
<br />
</font>
<div align="center">
  <center>
<table cellpadding="0" cellspacing="0" border="0" class="form_content" style="border-collapse: collapse" bordercolor="#111111" width="580">
<tr><td valign="top" width="50%">
	<div align="center">
      <center>
	<table cellpadding="0" cellspacing="0" border="0"   width="100%" style="border-collapse: collapse" bordercolor="#111111" >
		<tr><td ><span class="contentTitle3"><font size="2" face="Tahoma">Summary</font></span></td> </tr>			
	</table>
      </center>
    </div>
</td><td valign="top"   width="50%">
	<div align="center">
      <center>
	<table cellpadding="0" cellspacing="0" border="0"  width="100%" style="border-collapse: collapse" bordercolor="#111111" >
		<tr><td><span class="contentTitle3"><font size="2" face="Tahoma">Balances</font></span></td></tr>
	</table>	
      </center>
    </div>
</td></tr>
</table></center>
</div>