<div align="right">
  <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="650" id="AutoNumber1">
    <tr>
      <td width="100%"></td>
    </tr>
  </table>
</div>
<div align="center">
  <center>
  <table cellpadding="2" cellspacing="0" border="0" width="580" style="border-collapse: collapse" bordercolor="#111111" >
	<tr>
	  <td  class="pageHeading" height="50" valign="top"><b>
      <font face="Tahoma" color="#6666FF">Account Reset Wizard: Step 2/3</font></b></td>
	</tr>
	<tr><td><font size="2" face="Tahoma">A code have just .</font></td></tr>
</table>
  </center>
</div>
<font size="2" face="Tahoma">
<br />
	</font>
<div align="center">
  <center>
	<table cellpadding="0" cellspacing="0" border="0" class="form_content" style="border-collapse: collapse" bordercolor="#111111">
		<tr>
		  <td ><font size="2" face="Tahoma">Your account number has been successfully sent to <strong>{$email}</strong>.</font></td>
		</tr>
	</table>	  
  </center>
</div>
<font size="2" face="Tahoma">	  
<br />
</font>
<table cellpadding="2" cellspacing="2" border="0" width="100%" >
<tr ><td align="center"  class="contenButtons"><font face="Tahoma"><input  type="submit" name="buttonNext" class="button"  value="Next"  onclick="redirect('{dev_get_page_link page=PAGE_GET_PASSWORD}')"/></font></td></tr>
</table>