<form name="frmSignup" method="post" action="{dev_get_page_link page=PAGE_SIGNUP_PERSONAL}"  >
    <input type="hidden" name="action" value="process"  />
    <div class="simple-form">
        <h1>Registration: Part 2 of 2</h1>
        <p>Your account is not yet active. Please complete this form to activate your account.</p>
        <p>Fields marked with asterisk (<i>*</i>) are required.</p>
        <div class="line"></div>
        <div class="clear"></div>
        {include file="$_TEMPLATE_SOURCE_DIR/modules/validate_error.tpl" }
        <h3>Personal Information</h3>
        <table class="form">
         
            <tr>
                <td class="form_label"><i>*</i>Account Name:</td>
                <td class="form_field">
                    <input  name="account_name" type="text"  value="{$account_name}"  class="inputtext" size="20"  /></td>
            </tr>	
            <tr>
                <td class="form_label">Company Name:</td>
                <td class="form_field">
                    <input  name="company_name" type="text"  value="{$company_name}"  class="inputtext" size="20"  /></td>
            </tr>		  
            <tr>
                <td class="form_label"><i>*</i>Address:</td>
                <td class="form_field">
                    <input  name="address" type="text"  value="{$address}"  class="inputtext" size="20"  /></td>
            </tr>	
            <tr>
                <td class="form_label"><i>*</i>City:</td>
                <td class="form_field">
                    <input  name="city" type="text"  value="{$city}"  class="inputtext" size="20"  /></td>
            </tr>		   
            <tr> <td class="form_label">
                    <i>*</i>Country:</td>	  
                <td class="form_field"><select name="country_id"  class="inputselect"  onchange="getStates(this.value);">
                        {html_options options=$countries_array selected=$country_id}</select>
                    
                </td></tr>	
            <tr> <td class="form_label">
                    <i>*</i>State/Region:</td>	  
                <td class="form_field"><select name="state"  id="state" class="state" >
                        {html_options options=$zones_array selected=$state}</select>
                    
                </td></tr>	  
            <tr>
                <td class="form_label"><i>*</i>Zip/Post Code:</td>
                <td class="form_field">
                    <input  name="postcode" type="text"  value="{$postcode}"  class="inputtext" size="20"  /></td>
            </tr>		  
            <tr>
                <td class="form_label"><i>*</i>Date of Birth:</td>
                <td  class="form_field"><select name="dobMonth" class="inputselect">
                        {html_options options=$months_array selected=$dobMonth}</select>&nbsp;<select name="dobDay" class="inputselect">
                        {html_options options=$days_array selected=$dobDay}</select>&nbsp;&nbsp;
                    
                    <select name="dobYear" class="inputselect">
                        {html_options options=$years_array selected=$dobYear}</select>&nbsp;(mm/dd/yy)
                    
                </td></tr>	 	  		
            <tr>
                <td class="form_label"><i>*</i>Phone:</td>
                <td class="form_field">
                    <input  name="phone" type="text"  value="{$phone}"  class="inputtext" size="20"  /></td>
            </tr>		  
            <tr>
                <td class="form_label">Mobile:</td>
                <td class="form_field">
                    <input  name="mobile" type="text"  value="{$mobile}"  class="inputtext" size="20"  /></td>
            </tr>		  
            <tr >
                <td></td>
                <td ><input  type="submit" name="buttonSubmit" class="button"  value="Submit" />&nbsp;<input  type="button" name="buttonCancel" onclick="window.location='{dev_get_page_link page=PAGE_DEFAULT}';"  class="button"  value="Cancel"></td>
            </tr>
        </table>
    </div>
    