/* 
    Document   : ie
    Created on : 22-07-2013, 15:26:03
    Author     : ngoalongkt
    Description:
        Purpose of the stylesheet follows.
*/

.right-content  .box  .content  ul  li,#footer ul li{
    margin: 0;
    padding: 0;
    clear: both;
    height: 0;
}


.simple-form div.line {
    background: none;
    height: 1px;
    margin: 20px 0;
    width: 100%;
}


.main-container .main-conent {
    width: 650px;
}


#header-login .nav .search {
    width: 340px;
    padding-top: 5px;
}

#header-login .nav .search input.search-inut,#header .nav .search input.search-inut{
    height: 22px;
}


.main-container .main-conent {
    width: 692px;
}


table.form tr td {
    display: block;
    float: left;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 0;
    width: 200px;
}

.main-container .right-content .box .content  ul  li.active{
    height:0;
}

.main-container .right-content .box .content  ul  li.active ul{
    display: block!important;
    margin: 8px 13px;
    
}
.main-container .right-content .box .content  ul  li.active ul  li a{
    display: block!important;
    margin: 0 10px;
    padding: 0 0 5px 10px;
    color: #666;
    border-bottom: none;
}
.main-container .right-content .box .content  ul  li.active ul  li a.active{
    display: block!important;
    margin: 0 10px;
    padding: 0 0 5px 10px;
    color: #800000;
    border-bottom: none;
}


.list {
    width: 640px;
}
.form {
    width: 640px;


}
#header .nav .search {
    padding: 5px 0 0;
}