
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    text-decoration: none;
}

body {
    line-height: 1;
}
ol, ul {
    list-style: none outside none;
}

.clear {
    clear: both;
}
.clear-l {
    clear: left;
}
.clear-r {
    clear: right;
}

.fl {
    float: left;
}
.fr {
    float: right;
}
.clr {
    clear: both;
}
.wrapper {
    margin: 0 auto;
    width: 1024px;
}

.main-content .main-content-left{
    float: left;
    width: 160px;
}

.main-content .main-content-center{
    float: left;
    padding: 0 0 0 10px;
}

.simple-form {
    font-family: arial;
    margin: 0 auto;
    padding: 25px 0;
}


.simple-form {
    font-family: "gothambook";
    margin: 0 auto;
    padding: 25px 0;
    width: 800px;
}
.simple-form h1 {
    color: #44ACC4;
    font-family: "futurab";
    font-size: 35px;
    margin: 0;
}
.simple-form p {
    margin: 15px 0 0px;
}
.simple-form div.line {
    background: none repeat scroll 0 0 #E5E5E5;
    height: 1px;
    margin: 20px 0;
    width: 100%;
}
.st-form-line {
    display: block;
    padding: 8px 0;
}
.st-labeltext {
    display: block;
    float: left;
    font-size: 14px;
    line-height: 20px;
    padding-right: 10px;
    padding-top: 3px;
    width: 150px;
}
.st-forminput {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("images/forminput-bg.png") repeat-x scroll center top #FFFFFF;
    border-color: #A5A6A6 #D2D4D4 #D2D4D4;
    border-image: none;
    border-right: 1px solid #D2D4D4;
    border-style: solid;
    border-width: 1px;
    color: #333;
    height: 27px;
    padding: 0 6px;

}
.st-forminput.small{
    width: 100px;
}
.st-forminput.medium{
    width: 150px;
}
.st-forminput.large{
    width: 200px;
}
.st-forminput.hurge{
    width: 250px;
}
.lich {
    background: url("images/datepicker-bg.png") no-repeat scroll right top transparent;
    height: 17px;
    margin-top: 5px;
    padding: 2px;
    position: absolute;
    width: 26px;
}
span.error {
    color: #794799;
    padding: 0 5px;
}
.formsl {
    overflow: hidden;
    width: 310px;
}
.formsl select {
    -moz-appearance: none;
    background: url("images/selecarrow.png") no-repeat scroll 283px -2px transparent;
    border-radius: 5px 5px 5px 5px;
    padding: 3px 30px 2px 2px;
    width: 360px;
}
a.subbt {
    background: url("images/submitf.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: left;
    height: 20px;
    margin: 10px 0;
    width: 100px;
}

.required{
    color: #EC2F2A;
}

.captcha a{
    display: block;
}

input.button{
    background-color: black;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    font-family: 'Nobile',sans-serif;
    font-style: italic;
    font-weight: 900;
    margin:0px 0px;
    padding: 7px 20px;


}
input.button:hover {
    background-color: lighten(#000, 20%);
}
input.button:active {
    -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 1);
    margin-top:2px;
    -webkit-transition: all 0.1s ease;
    -moz-transition:    all 0.1s ease;
    -ms-transition:     all 0.1s ease;
    -o-transition:      all 0.1s ease;
}
.blue {
    color:#0955AE;
}
a:hover{text-decoration:none;}

a img { border:0;}
.column { float:left;}
.clear {clear:both;}
.top {
    padding-top:35px;
    width:601px;
}
.left {
    width:232px;
    float:left;
}
.bg_con {
    background: url('images/bg_content.jpg'); width:100%;
}
.line {
    background-color:green;
    width:1px;
    float:left;
    margin-top: 10px;
    // margin-left:0px;
}
.line1 {
    margin-left: 21px;
    margin-top: 15px;
}
.line2 {
    margin-left: 21px;
    margin-top: 10px;
}
.right {
    width:366px;
    /* 	height:433px; */
    float:right;
    padding:0 0 10px 0	
}
.menu {
    background: url(images/bg_menu.jpg);
    width: 601px;
    height:42px;
}
.but1 {
    margin-top: 15px;
    margin-left: 50px;
    vertical-align:top;
}
.but2 {
    margin-top: 15px;
    margin-left: 30px;
    vertical-align:top;
}
.but3 {
    margin-top: 15px;
    margin-left: 30px;
    vertical-align:top;
}
.but4 {
    margin-top: 15px;
    margin-left: 45px;
    vertical-align:top;
}
.but5 {
    margin-top: 15px;
    margin-left: 45px;
    vertical-align:top;
}
.news {
    font-family: Arial, sans-serif;
    font-size: 11px;
    color: #0955ae;
    margin-left: 0;
}
.news1 {
    font-family: Arial, sans-serif;
    font-size: 11px;
    color: #0955ae;
    margin-left: 21px;
    margin-top: 10px;
}
.news1_1 {
    font-family: Arial, sans-serif;
    font-size: 11px;
    color: #0955ae;
    margin-left: 21px;
    margin-top: 12px;
}
.news2 {
    font-family: Arial, san-serif;
    font-size: 11px;
    color: #0955ae;
    margin-left: 21px;
    margin-top: 5px;
}
.news_top {
    margin-left: 21px;
    padding-top:  11px;
}
.cont1 {
    color:#000000;
    margin-top: 10px;
    margin-left:30px;
    width:170px;
}
.cont2 {
    color:#000000;
    margin-top: 5px;
    width:170px;
}
.cont4 {
    color:#0955ae;
    margin-top: 5px;
    width:200px;
}
.more_info {
    margin-top: 5px;
    margin-left: 120px;
    color: #000000;
    font-size: 10px;
}
.more_info1 {
    margin-top: 10px;
    margin-left: 120px;
    color: #000000;
    font-size: 10px;
}
.more {
    color: #000000;
    text-decoration: none;
    font-size: 10px;
    font-family: tahoma, sans-serif;
    text-decoration:none;
}
a.more:hover {text-decoration:underline;}
.left_cont {
    float: right;
    margin-right: 20px;
    margin-top: 17px;

}
.left_cont1 {
    margin-left: 21px;
    margin-top: 17px;

}
.left_cont2 {
    margin-left: 120px;
    margin-top: 10px;
    font-size: 11px;
}
.left_cont3 {
    width:300px;
    padding-left: 100px;
    margin-top: 10px;
    color: #0955AE;
    text-decoration: underline;
}
.pim2 {
    list-style-image: url('images/pim2.gif'); margin-left:35px;
}
.pim1 {
    list-style-image: url('images/pim1.gif');
}
/*right index1*/
.ph1 {
    margin-left: 20px;
    margin-top: 17px;
}
.ph2 {
    margin-left: 20px;
    margin-top: 10px;
}
.ph3 {
    width:170px;
    margin-left: -75px;
    margin-top: 10px;
    color: #0955AE;
    text-decoration: underline;
}

.ph4 {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}
.ph5 {
    width:160px;
    margin-left: 20px;
    margin-top: 10px;
}
.ph6 {
    margin-left: 20px;
    margin-top: 17px;
}
.left_cont5 {
    width:170px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;

}
/*right end index1*/
/*bottom*/
.copp {
    float: right;
    margin-top: 10px;
    color: #5DA1E1;
}
.copp_a {
    color: #5DA1E1;
}
.logo {
    /* 	//height: 50px; */
    margin-top: 10px;
}
.logo_t {
    color: #C4CBD2;
}
/*bottom end*/
.welcome_top {
    width:120px;
    margin-left: 21px;
    padding-top:  11px;
}
.r_ph1 {
    width:366px;
}
.r_ph1_11 {
    width:356px;
}
/*right index2*/
.ph11 {
    width:82px;
    margin-left: 20px;
    margin-top: 17px;
}
.right_cont {
    margin-top: 17px;
    margin-left: 21px;
    padding-right:10px;
    _padding-right:2px;
}
.line3 {
    margin-left: 21px;
    margin-top: 19px;
}
.lc1 {
    margin-top: 7px;

}
.profile_top {
    margin-left: 21px;
    padding-top:  11px;
}
.right_cont1 {
    margin-left: 21px;
    margin-top: 17px;
    padding-right:35px;	
}
.ph12 {
    width:119px;
    margin-left: 20px;
    margin-top: 17px;
}
.right_cont3 {
    margin-top: 17px;
    margin-left: 21px;
    padding-right:9px;
    _padding-right:7px;
}
.ph13 {
    margin-top: 15px;
    margin-left: -80px;
    color: #0955AE;
}
.list{
    line-height:17px;
}
a.list {
    color: #0955AE;
    text-decoration:underline;
}
a.list:hover {
    text-decoration:none;
}
.right_cont4 {
    float: right;
    margin-top: 15px;
    color: #0955AE;
    margin-right:15px;
}
.ph14 {
    width:168px;
    margin-top: 10px;
    margin-left: 22px;
}
.right_cont5 {
    width:160px;
    float: right;
    margin-top: 10px;
    margin-right: 14px;

}
body:last-child:not(:root:root) .right_cont5 {
    width:162px;
    float: right;
    margin-top: 10px;
    margin-right: 14px;
}
body:last-child:not(:root:root) .ph14 {
    width:160px;
    margin-top: 10px;
    margin-left: 22px;
}
.testem_top {
    margin-left: 21px;
    padding-top:  11px;
}
.a1 {
    padding:0; margin:0 auto; 
    width:100%;
    background-image: url(images/bg01.jpg);
    background-repeat:repeat-x;
    background-color:#42556C;
    overflow:hidden;
    background-color:#42556C
}
.a2 {
    padding:0; margin:0 auto; 
    background-image:url(images/bg.jpg);
    width:601px;
}
.a3 {
    padding:0; margin:0 auto; 
    width:601px;
    height:80px;
    background-image:url(images/bg02.jpg);
    background-repeat:no-repeat;
    background-position:top;
}
.centr {padding:0; margin:0 auto; width:601px;}
.bb {
    background-image:url(images/bottom.jpg);
    background-repeat:repeat-x;
}

form i {
    font-weight: bold;
    color: #CE0701;
}

div.error{
    padding: 10px 5px;
    border: 1px dotted #EC2F2A;
    background: none repeat scroll 0 0 #FFDF09;
    margin: 10px 0
    
}

div.error .message{
    color: #EC2F2A;
    padding-bottom: 5px;
}