<span class="maintext"><strong>{$newsinfo.news_title}</strong></span><br />	
<form name="frmdeletenew" action="{$link_news}&action=deleteconfirm&news_id={$newsinfo.news_id}" method="post">
	<table width="100%" cellpadding="2" cellspacing="2" border="0"  class="confirmContent">
		<tr><td class="error">{$langs.TEXT_DELETE_CONFIRM_MESSAGE}</td></tr>
		<tr><td>
	    <input type="submit" name="Submit" value="{$langs.BUTTON_CONFIRM}" class="button">
        <input type="button" name="btnCancel" value="{$BUTTON_CANCEL}" onclick="closeConfirmForm()"  class="button">
		</td></tr>
	</table>	
</form>