<h2>{$langs.HEADING_TITLE}</h2><br />
{include file="$_TEMPLATE_SOURCE_DIR/modules/validate_error.tpl" }
{include file="$_TEMPLATE_SOURCE_DIR/modules/feedback_messages.tpl" }

<div> <a href="{$link_new_currency}" class="linkButton" >{$langs.LINK_NEW_CURRENCY}</a></div><br /><div>
<div  id="ajaxContent" style="display:none"></div>
<table width="100%" cellpadding="0" cellspacing="0" >
<tr><td valign="top">
		<table width="100%" cellpadding="0" cellspacing="0" >
			<tr>
			  <td height="28" class="tableHeading">{$langs.HEADER_CURRENCY_NAME}</td>
			  <td class="tableHeading">{$langs.HEADER_CURRENCY_CODE}</td>
			  <td class="tableHeading">{$langs.HEADER_CURRENCY_SYMBOL}</td>
			  <td class="tableHeading">{$langs.HEADER_CURRENCY_STATUS}</td>			  
			  <td class="tableHeading" align="center">{$TEXT_ACTION}</td>
			  </tr>
		{section name=currencyidx loop=$currencies}	
			{if ($smarty.section.currencyidx.index  % 2) == 0 } {assign var="rowstyle"  value="tableNormalRow"} {else}  {assign var="rowstyle" value="tableAltRow"}  {/if}		  
			<tr>
			  <td width="22%" height="20"  class="{$rowstyle}">{$currencies[currencyidx].title}</td>
			  <td width="26%"  class="{$rowstyle}">{$currencies[currencyidx].code}</td>
			  <td width="26%"  class="{$rowstyle}">{if $currencies[currencyidx].symbol_left!=''} {$currencies[currencyidx].symbol_left} {else} {$currencies[currencyidx].symbol_right} {/if}&nbsp;</td>			  
			  <td width="26%"  class="{$rowstyle}">{if $currencies[currencyidx].status==1} {$langs.TEXT_ACTIVE} {else} {$langs.TEXT_INACTIVE} {/if} </td>			  
			  <td width="17%"  class="{$rowstyle}"  align="center"><a href="{$link_currency_edit}&cID={$currencies[currencyidx].currencies_id}" class="linkButton">{$ACTION_EDIT}</a>&nbsp;<a href="javascript:getDeleteConfirmForm({$currencies[currencyidx].currencies_id});"  class="linkButton">{$ACTION_DELETE}</a></td>
		    </tr>
		{/section}
		</table>
</td>
</tr>
</table>
</div>
{if count($currencies)>0} 
<div align="center">{$TEXT_PAGES}{$page_links}</div>
{/if}