vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|01 Mar 2010 10:32:00 -0000
vti_extenderversion:SR|5.0.2.6790
vti_author:SR|DELL\\Administrator
vti_modifiedby:SR|DELL\\Administrator
vti_timecreated:TR|01 Mar 2010 10:32:00 -0000
vti_cacheddtm:TX|01 Mar 2010 10:32:00 -0000
vti_filesize:IR|7310
vti_cachedlinkinfo:VX|A|{dev_get_page_link\\ page=PAGE_ACCOUNT_TRANSACTIONS} H|javascript:getTransactionDetails({$transactions[transactionidx].transaction_id});
vti_cachedsvcrellinks:VX|NAUS|e-globalcash/templates/account/{dev_get_page_link\\ page=PAGE_ACCOUNT_TRANSACTIONS} SHUS|javascript:getTransactionDetails({$transactions[transactionidx].transaction_id});
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_lineageid:SR|{3B09F045-A471-4E91-83DC-8D6CF890F3BA}
vti_backlinkinfo:VX|
