vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|17 Jul 2010 07:05:47 -0000
vti_extenderversion:SR|5.0.2.6790
vti_author:SR|DELL\\Administrator
vti_modifiedby:SR|DELL\\Administrator
vti_timecreated:TR|02 Mar 2010 02:10:00 -0000
vti_lineageid:SR|{256DF304-6BF5-4A66-9CAF-B03165BAEC73}
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|02 Mar 2010 02:10:00 -0000
vti_cacheddtm:TX|17 Jul 2010 07:05:47 -0000
vti_filesize:IR|7236
vti_cachedlinkinfo:VX|A|{dev_get_page_link\\ page=PAGE_ACCOUNT_PUBLIC}
vti_cachedsvcrellinks:VX|NAUS|e-globalcash/templates/account/{dev_get_page_link\\ page=PAGE_ACCOUNT_PUBLIC}
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=utf-8 GENERATOR Microsoft\\ FrontPage\\ 5.0 ProgId FrontPage.Editor.Document
vti_charset:SR|utf-8
vti_progid:SR|FrontPage.Editor.Document
vti_generator:SR|Microsoft FrontPage 5.0
