vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|02 Mar 2010 02:10:00 -0000
vti_extenderversion:SR|5.0.2.6790
vti_author:SR|DELL\\Administrator
vti_modifiedby:SR|DELL\\Administrator
vti_timecreated:TR|02 Mar 2010 02:10:00 -0000
vti_cacheddtm:TX|02 Mar 2010 02:10:00 -0000
vti_filesize:IR|2423
vti_cachedlinkinfo:VX|H|javascript:\\ closeTransactionDetailsContent();
vti_cachedsvcrellinks:VX|SHUS|javascript:\\ closeTransactionDetailsContent();
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_lineageid:SR|{736A1B85-F549-4B32-B272-CE572A35E204}
vti_backlinkinfo:VX|
