{if $user_session}
<div class="box blue">
    <div class="heading-title">
        Acount Setting
    </div>
    <div class="content">
        <ul>
            <li>
                <a href="{site_url('acount')}" {if $class == 'account' && $action == 'index'} class="active" {/if}>Account Summary</a>
            </li>
            <li>
                <a href="{site_url('account/personal')}" {if $class == 'account' && $action == 'personal'} class="active" {/if}>Personal Information</a>
            </li>
            <li {if $class=='settings' } class="active" {/if}>
                <a href="{site_url('setting')}" {if $class=='settings' } class="active" {/if}>Settings</a>
                <ul>
                    <li>
                        <a href="{site_url('setting/personal')}" {if $action=='personal' } class="active" {/if}>Personal</a>
                    </li>
                    <li>
                        <a href="{site_url('setting/verification')}" {if $action=='verification' } class="active" {/if}>Verification</a>
                    </li>
                   
                    <li>
                        <a href="{site_url('setting/api')}" {if $action=='api' } class="active" {/if}>API</a>
                    </li>
                    <li>
                        <a href="{site_url('setting/password')}" {if $action=='password' } class="active" {/if}>Change Password</a>
                    </li>
                    <li>
                        <a href="{site_url('setting/secure_pin')}" {if $action=='secure_pin' } class="active" {/if}>Secure PIN</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{site_url('account/public')}" {if $class == 'account' && $action == 'public'} class="active" {/if}>Public Information</a>
            </li>
            
        </ul>
    </div>
</div>
{/if}
<div class="box red">
    <div class="heading-title">
        Merchant tool
    </div>
    <div class="content">
        <ul>
            <li>
                <a href="http://docs.ookcash.com/sci">Shopping Cart Interface(SCI)</a>
            </li>
            <li {if $class == 'sci' && $action == 'general'} class="active" {/if}>
                <a href="{site_url('sci/generate')}">SCI Form/Button Generator</a>
            </li>
            <li>
                <a href="http://docs.ookcash.com/merchantapi">Merchant API</a>
            </li>
            <li {if $class == 'transfer' && $action == 'quick_payment'} class="active" {/if}>
                <a href="{site_url('wallet/transfer')}">Quick Payment</a>
            </li>
            <li>
                <a href="#">API Test Key</a>
            </li>
            <li>
                <a href="#">Intergration Resouces</a>
            </li>
        </ul>
    </div>
</div>

<div class="box blue">
    <div class="heading-title">
        Payment
    </div>
    <div class="content">
        <ul>
            <li>
                <a href="{site_url('transaction/history')}" {if $class == 'transaction' AND $action == 'history' } class="active" {/if}>Transaction History</a>
            </li>
            <li>
                <a href="#">Deposit Money</a>
            </li>
            <li>
                <a href="{site_url('transfer')}" {if $class == 'transfer' AND $action == 'index' } class="active" {/if}>Transfer Money</a>
            </li>
            <li>
                <a href="{site_url('wallet/add')}" {if $class == 'wallet' AND $action == 'add' } class="active" {/if}>Transfer To Wallet</a>
            </li>
           
            <li>
                <a href="#">Withdraw Money</a>
            </li>
        </ul>
    </div>
</div>