vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|17 Jul 2010 11:08:48 -0000
vti_extenderversion:SR|5.0.2.6790
vti_author:SR|DELL\\Administrator
vti_modifiedby:SR|DELL\\Administrator
vti_timecreated:TR|01 Mar 2010 05:14:00 -0000
vti_lineageid:SR|{9ADD21EF-0217-4D0C-BD27-E43CDF9ABEE2}
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|01 Mar 2010 05:14:00 -0000
vti_cacheddtm:TX|17 Jul 2010 11:08:48 -0000
vti_filesize:IR|3330
vti_cachedlinkinfo:VX|H|{dev_get_page_link\\ page=PAGE_ACCOUNT} H|{dev_get_page_link\\ page=PAGE_ACCOUNT_PERSONAL} H|{dev_get_page_link\\ page=PAGE_ACCOUNT_TRANSACTIONS} H|{dev_get_page_link\\ page=PAGE_ACCOUNT_TRANSFER} H|{dev_get_page_link\\ page=PAGE_LOGOUT}
vti_cachedsvcrellinks:VX|NHUS|e-globalcash/templates/{dev_get_page_link\\ page=PAGE_ACCOUNT} NHUS|e-globalcash/templates/{dev_get_page_link\\ page=PAGE_ACCOUNT_PERSONAL} NHUS|e-globalcash/templates/{dev_get_page_link\\ page=PAGE_ACCOUNT_TRANSACTIONS} NHUS|e-globalcash/templates/{dev_get_page_link\\ page=PAGE_ACCOUNT_TRANSFER} NHUS|e-globalcash/templates/{dev_get_page_link\\ page=PAGE_LOGOUT}
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=utf-8 GENERATOR Microsoft\\ FrontPage\\ 5.0 ProgId FrontPage.Editor.Document
vti_charset:SR|utf-8
vti_progid:SR|FrontPage.Editor.Document
vti_generator:SR|Microsoft FrontPage 5.0
