<form action="" method="post">
    <div class="simple-form">

        <h1>Transfer Confirmation</h1>
        {include file="common/validate_error.html" }
        <div class="st-form-line">
            <span class="st-labeltext">From Account:</span>
            <span class="transfer_info">{$user_session.user_id}(<strong>{$user_session.account_name}</strong>)</span>
            <div class="clear"></div>
        </div>
        <div class="st-form-line">
            <span class="st-labeltext" class="transfer_info">To Account:</span>
            <span>{$transfer_info.account_number}(<strong>{$transfer_info.account_name}</strong>)</span>
            <div class="clear"></div>
        </div>
        <div class="st-form-line">
            <span class="st-labeltext" class="transfer_info">Account:</span>
            <span>{$transfer_info.amount_text}</span>
            <div class="clear"></div>
        </div>
        <div class="st-form-line">
            <span class="st-labeltext" class="transfer_info">Fee:</span>
            <span>{$transfer_info.fees_text}</span>
            <div class="clear"></div>
        </div>
        {if $transfer_info.transaction_memo !=''}
        <div class="st-form-line">
            <span class="st-labeltext" class="transfer_info">Transaction Memo:</span>
            <span>{$transfer_info.transaction_memo}</span>
            <div class="clear"></div>
        </div>
        {/if}
        <p>
            Please be aware that all OOKCASH payments are instant and irreversible. OOKCASH is not associated directly or indirectly with any other company or business. Our liability is limited to delivering your funds on time to the account of your choice specified above. Any issues that you may encounter as a result of this transaction that are not related to the transaction itself will have to be addressed and resolved with the recipient of your payment directly. Please confirm your payment details ONLY if you UNDERSTAND and AGREE with statements made in this paragraph and ACCEPT our <a href="http://docs.ookcash.com/tos/" target="_blank">Terms Of Service</a>
        </p>

        <input type="hidden" name="to_account" value="{$transfer_info.account_number}"  />
        <input type="hidden" name="to_userid" value="{$transfer_info.user_id}"  />
        <input type="hidden" name="amount" value="{$transfer_info.amount}"  />
        <input type="hidden" name="transaction_memo" value="{$transfer_info.transaction_memo}"  />	
        <input type="hidden" name="balance_currency"	value="{$transfer_info.balance_currency}"  />
        <div class="st-form-line">
            <span class="st-labeltext" class="transfer_info"></span>
            <input  type="button" name="buttonConfirm" class="button"  value="Confirm" onclick="redirect('{site_url('transfer/success')}');"/>
            <input  type="button" name="buttonChange" class="button"  value="Change"  onclick="redirect('{site_url('transfer')}');"/>
            <input  type="button" name="buttonCancel" class="button"  value="Cancel" onclick="redirect('{site_url('home')}');" />
            <div class="clear"></div>
        </div>
        {literal}
        <script type="text/javascript">
            function changeTransfer()
            {
                document.getElementById('step').value	=	''; // go to default page
                document.frmTransfer.submit();
            }
        </script>
        {/literal}
    </div>
</form>