<form action="" method="post">
    <div class="simple-form">
        <h1>Transfer</h1>
        <p>Please use this form to transfer funds from your OOKCASH to another member.</p>
        <p>Fields marked with asterisk (<i>*</i>) are required.</p>
        <div class="line"></div>
        {include file="common/validate_error.html" }

        <div class="st-form-line">
            <span class="st-labeltext"><i>*</i> Currency:</span>
            <select name="balance_currency" >
                {html_options options=$balance_currencies selected=$balance_currency}
            </select>
            <div class="clear"></div>
        </div>
        <div class="st-form-line">
            <span class="st-labeltext"><i>*</i> To Account:</span>
            <input  name="to_account" type="text"  value="{if !empty($info.to_account)}{$info.to_account}{/if}"  class="inputtext" size="20"  />
            <div class="clear"></div>
        </div>
        <div class="st-form-line">
            <span class="st-labeltext"><i>*</i> Amount:</span>
            <input  name="amount" type="text" id="amount"  value="{if !empty($info.to_account)}{$info.amount}{/if}"  size="10" />
            <div class="clear"></div>
        </div>
        <div class="st-form-line">
            <span class="st-labeltext">Transaction Memo:</span>
            <textarea name="transaction_memo"  cols="50" rows="3">{if !empty($info.to_account)}{$info.transaction_memo}{/if}</textarea>
            <div class="clear"></div>
        </div>
        <div class="st-form-line">
            <span class="st-labeltext"><i>*</i> Master Key(3 digits)</span>
            <input  name="master_key" type="password" id="master_key"  value=""  size="4"  maxlength="3"/> 
            <div class="clear"></div>
        </div>
        <div class="st-form-line captcha">
            <span class="st-labeltext"></span>
            <input  type="submit" name="buttonPreview" class="button"  value="Preview" />
        </div>
    </div>
</form>