
<div class="simple-form">
    {include file="common/validate_error.html" }
    {if !empty($success)}
    <h1>Transfer Successful</h1>
    <p class="success">Your transfer was successful!</p>
    <div class="line"></div>
    <table class="form">
        <tr>
            <td class="form_label">Date:</td>
            <td class="form_field">{$transaction_data.transaction_time}</td>
        </tr>	
        <tr>
            <td class="form_label">Batch Number#:</td>
            <td class="form_field">{$transaction_data.batch_number}</td>
        </tr>	
        <tr>
            <td class="form_label">From:</td>
            <td class="form_field">{$user_session.user_id}(<strong>{$user_session.account_name}</strong>)</td>
        </tr>	    
        <tr>
            <td class="form_label">To:</td>
            <td class="form_field">{$transaction_data.to_account}(<strong>{$transfer_info.account_name}</strong>)</td>
        </tr>	 
        <tr>
            <td class="form_label">Amount:</td>
            <td class="form_field">{$transaction_data.amount_text}</td>
        </tr>	 
        <tr>
            <td class="form_label">Transaction Memo:</td>
            <td class="form_field">{$transaction_data.transaction_memo}</td>
        </tr>	       
    </table>  
    <p>
        Thank you for choosing OOKCASH!
    </p>
    <div class="buttons">
        <input  type="button" name="buttonNew" class="button"  value="New Transfer"  onclick="redirect('{site_url('transfer')}');" />
        <input  type="button" name="buttonBack" class="button"  value="Back to Account"  onclick="redirect('{site_url('account')}');" />
    </div>
    {/if}
</div>