{foreach from=$posts key=k item=post}
{assign var="i" value=$k%4}
{assign var="odd" value=$k%2}


<div class="product {if $odd == 1}padding-right0{/if}">
    <div class="heading">
        <div class="image">
            <img src="{$post.thumbnail}"/>
        </div>
        <h1>{$post.title}</h1>
        <div class="clear"></div>
    </div>
    <div class="content">
        {$post.content}...
    </div>


    {if $i == 0}
    <a href="{$post.href}" class="learn_more green">learn more about {$post.title}</a>
    {elseif $i == 1}
    <a href="{$post.href}" class="learn_more yellow">learn more about {$post.title}</a>
    {elseif $i == 2}
    <a href="{$post.href}" class="learn_more butterfly_blue">learn more about {$post.title}</a>
    {else}
    <a href="{$post.href}" class="learn_more red">learn more about {$post.title}</a>
    {/if}

</div>

{/foreach}
