<form name="frmPersonal" method="post" action=""  >
    <div class="simple-form">
        <h1>{$heading_title}</h1>
        <p>The following section can only be viewed after you enter your master key.</p>
        <p>Fields 
            marked with asterisk (<i>*</i>) are 
            required.</p>
        <div class="line"></div>
        {include file="common/validate_error.html" }
        
        <div class="st-form-line">
            <span class="st-labeltext"><i>*</i>Master Key:</span>
            <input type="password" autocomplete="off" name="master_key" size="5" maxlength="3" class="st-forminput medium">
            <div class="clear"></div>
        </div>
        <div class="st-form-line captcha">
            <span class="st-labeltext"></span>
            <input class="button" type="submit" value="Next" />
        </div>
    </div>
</form>