<h2>{$HEADING_NEW_ADMIN_ACCOUNT}</h2>
<br />
{include file="$_TEMPLATE_SOURCE_DIR/modules/validate_error.tpl" }
<div>
<form action="{$action_link}" method="post" name="frmAdmin" >
 	<table width="100%" cellpadding="2" cellspacing="2" >
	
		<tr>
		  <td width="22%">{$LABEL_ADMIN_ACCOUNT_USERNAME}*</td>
		  <td width="78%"><input name="admin_username" type="text" id="admin_username" value="{$admin_username}"></td>
	  </tr>
		<tr>
		  <td>{$LABEL_ADMIN_ACCOUNT_NAME}</td>
		  <td><input name="admin_contactname" type="text" id="admin_contactname" value="{$admin_contactname}" size="30"></td>
	  </tr>
		
		<tr>
		  <td>{$LABEL_ADMIN_ACCOUNT_EMAIL}*</td>
		  <td><input name="admin_email" type="text" id="admin_email" value="{$admin_email}"  size="30"></td>
	  </tr>
		
		<tr>
		  <td>{$LABEL_ADMIN_ACCOUNT_PASSWORD}*</td>
		  <td><input name="admin_password" type="text" id="admin_password" value="{$admin_password}" size="30"></td>
	  </tr>
	
		<tr>
		  <td>{$LABEL_ADMIN_ACCOUNT_CONFIRM_PASSWORD}*</td>
		  <td><input name="confirm_password" type="text" id="confirm_password" value="{$confirm_password}" size="30"></td>
	  </tr>
	    
	  		
		<tr>
		  <td>&nbsp;</td>
		  <td>
		    <input type="submit" name="Submit" value="{$BUTTON_SUBMIT}" class="button">
	        <input type="button" name="btnCancel" value="{$BUTTON_CANCEL}" onClick="window.location	=	'{$back_link}';" class="button">
		  </td>
	  </tr>
	</table>
</form>	
</div>