<form name="frmPersonal" method="post" action="{$HREF_PAGE}"  >
    <input type="hidden" name="action" value="process"  />
    
    <table class="form">
        <tr>
            <td class=""><i>*</i>Master Key</td>
            <td><input class="inputtext" type="password" name="master_key" size="5" maxlength="3"/></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input class="button" value="Next" type="submit" name="buttonNext"></td>
            </td>
        </tr>
    </table>

</form>