<form name="frmPersonal" method="post" action="{$HREF_PAGE}"  >
    <input type="hidden" name="action" value="view_info" />
    <h3>Your Current Secure Question Information</h3>
    <table class="form">
        <tr>
            <td class="form_label" >Security Question:</td>

            <td class="form_field">
                {if !empty($view_security_question)}{$view_security_question}{else}****{/if}
            </td> 
        </tr>	
        <tr>
            <td class="form_label">Answer:</td>
            <td class="form_field">
                {if !empty($view_security_answer)}{$view_security_answer}{else}****{/if}
            </td>
        </tr>		  
        <tr>
            <td class="form_label" ><i>*</i>Master Key</td>
            <td class="form_field">
                <input  type="password" name="master_key" value="" autocomplete="off" class="inputtext" size="5" maxlength="3"  /></td>
        </tr>	
        <tr>
            <td></td>
            <td class="contenButtons">

                <input class="button" value="Get Information" type="submit" name="buttonUpdate"></td>
        </tr>
    </table>

</form>
<form name="frmPersonal" method="post" action="{$HREF_PAGE}"  >
    <input type="hidden" name="action" value="update_account"  />
    <h3>Change Secure Question Information</h3>
    <p>Please input your secure question. The information is very important in case you lost your access information or Secure PIN</p>
    <table class="form">
        <tr>
            <td class="form_label" ><i>*</i>Security Question:</td>
            <td class="form_field"><select name="security_question" class="inputtext" onchange="checkSecurityQuestion(this.value);">
                    {html_options options=$security_questions_array selected=$post_security_question}</select></td> </tr>	
        <tr id="content_custom_question" {if $security_question!=-1} style="display: none;" {/if}>
            <td class="form_label"><i>*</i>or write your own:</td>
            <td class="form_field">
                <input  name="custom_question" type="text"  value="{$custom_question}"  class="inputtext" size="20"  /></td> 
        </tr>	
        <tr>
            <td class="form_label"><i>*</i>Answer:</td>
            <td class="form_field">
                <input  name="security_answer" type="text" autocomplete="off" value="{$post_security_answer}"  class="inputtext" size="20"  /></td>
        </tr>		  
        <tr>
            <td class="form_label" ><i>*</i>Master Key</td>
            <td class="form_field">
                <input  type="password" name="master_key" value="" autocomplete="off" class="inputtext" size="5" maxlength="3"  /></td>
        </tr>
        <tr>
            <td></td>
            <td class="contenButtons">

                <input class="button" value="Updated" type="submit" name="buttonUpdate"></td>
        </tr>
    </table>

    {literal}
    <script type="text/javascript">
        function checkSecurityQuestion(security_question_id) {
            if (security_question_id==-1) {
                $("#content_custom_question").show();
            } else {
                $("#content_custom_question").hide();	
            }
        }
    </script>
    {/literal}
</form>