vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|17 Jul 2010 06:32:02 -0000
vti_extenderversion:SR|5.0.2.6790
vti_author:SR|DELL\\Administrator
vti_modifiedby:SR|DELL\\Administrator
vti_timecreated:TR|28 Feb 2010 23:52:00 -0000
vti_lineageid:SR|{4373BD36-8BB3-4F50-A8F3-6F293E301E4B}
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|17 Jul 2010 06:31:38 -0000
vti_cacheddtm:TX|17 Jul 2010 06:32:02 -0000
vti_filesize:IR|7980
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=utf-8 GENERATOR Microsoft\\ FrontPage\\ 5.0 ProgId FrontPage.Editor.Document
vti_charset:SR|utf-8
vti_progid:SR|FrontPage.Editor.Document
vti_generator:SR|Microsoft FrontPage 5.0
