vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|01 Aug 2010 06:47:56 -0000
vti_extenderversion:SR|5.0.2.6790
vti_author:SR|DELL\\Administrator
vti_modifiedby:SR|DELL\\Administrator
vti_timecreated:TR|02 Jul 2010 11:28:00 -0000
vti_lineageid:SR|{BE07AFF5-BA5A-4145-AD59-1CB4223EED1E}
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|01 Aug 2010 06:47:40 -0000
vti_cacheddtm:TX|01 Aug 2010 06:47:40 -0000
vti_filesize:IR|9305
vti_cachedlinkinfo:VX|H|{dev_get_page_link\\ page=PAGE_SIGNUP} H|{dev_get_page_link\\ page=PAGE_DEFAULT} H|http://www.instaforex.com H|http://old.goldmediator.com/ H|http://www.e-globalcash.com/partners.htm H|http://www.kitco.com/charts/popup/au24hr3day.html S|http://www.kitco.com/images/live/t24_au_en_usoz_6.gif H|http://www.kitco.com/charts/popup/au24hr3day.html H|{dev_get_page_link\\ page=PAGE_LOGIN} H|{dev_get_page_link\\ page=PAGE_EXCHANGERS} H|{dev_get_page_link\\ page=PAGE_MERCHANTS}
vti_cachedsvcrellinks:VX|NHUS|e-globalcash/templates/home/{dev_get_page_link\\ page=PAGE_SIGNUP} NHUS|e-globalcash/templates/home/{dev_get_page_link\\ page=PAGE_DEFAULT} NHHS|http://www.instaforex.com NHHS|http://old.goldmediator.com/ NHHS|http://www.e-globalcash.com/partners.htm NHHS|http://www.kitco.com/charts/popup/au24hr3day.html NSHS|http://www.kitco.com/images/live/t24_au_en_usoz_6.gif NHHS|http://www.kitco.com/charts/popup/au24hr3day.html NHUS|e-globalcash/templates/home/{dev_get_page_link\\ page=PAGE_LOGIN} NHUS|e-globalcash/templates/home/{dev_get_page_link\\ page=PAGE_EXCHANGERS} NHUS|e-globalcash/templates/home/{dev_get_page_link\\ page=PAGE_MERCHANTS}
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=utf-8 GENERATOR Microsoft\\ FrontPage\\ 5.0 ProgId FrontPage.Editor.Document HTTP-EQUIV=Content-Type text/html;\\ charset=utf-8 GENERATOR Microsoft\\ FrontPage\\ 5.0 ProgId FrontPage.Editor.Document
vti_charset:SR|utf-8
vti_progid:SR|FrontPage.Editor.Document
vti_generator:SR|Microsoft FrontPage 5.0
