vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|01 Mar 2010 10:04:00 -0000
vti_extenderversion:SR|5.0.2.6790
vti_author:SR|DELL\\Administrator
vti_modifiedby:SR|DELL\\Administrator
vti_timecreated:TR|01 Mar 2010 10:04:00 -0000
vti_cacheddtm:TX|01 Mar 2010 10:04:00 -0000
vti_filesize:IR|1862
vti_cachedlinkinfo:VX|A|{dev_get_page_link\\ page=PAGE_LOGIN_PIN} H|{dev_get_page_link\\ page=PAGE_RESET_PASSWORD}
vti_cachedsvcrellinks:VX|NAUS|e-globalcash/templates/home/{dev_get_page_link\\ page=PAGE_LOGIN_PIN} NHUS|e-globalcash/templates/home/{dev_get_page_link\\ page=PAGE_RESET_PASSWORD}
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_lineageid:SR|{976F9B08-9FF2-4472-8DE2-6501F152CCEB}
vti_backlinkinfo:VX|
