vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|17 Jul 2010 10:11:40 -0000
vti_extenderversion:SR|5.0.2.6790
vti_author:SR|DELL\\Administrator
vti_modifiedby:SR|DELL\\Administrator
vti_timecreated:TR|28 Feb 2010 23:51:00 -0000
vti_lineageid:SR|{E7A31F9E-FA08-48B3-A271-0FB5BFA5E51E}
vti_backlinkinfo:VX|e-globalcash/templates/home/merchants.html
vti_nexttolasttimemodified:TW|17 Jul 2010 06:52:04 -0000
vti_cacheddtm:TX|17 Jul 2010 10:11:40 -0000
vti_filesize:IR|29885
vti_cachedlinkinfo:VX|K|merchants.html K|merchants.html K|merchants.html K|merchants.html K|merchants.html K|merchants.html K|merchants.html K|merchants.html K|merchants.html K|merchants.html K|merchants.html K|merchants.html K|merchants.html K|merchants.html K|merchants.html K|merchants.html K|merchants.html K|merchants.html K|merchants.html K|merchants.html
vti_cachedsvcrellinks:VX|FKUS|e-globalcash/templates/home/merchants.html FKUS|e-globalcash/templates/home/merchants.html FKUS|e-globalcash/templates/home/merchants.html FKUS|e-globalcash/templates/home/merchants.html FKUS|e-globalcash/templates/home/merchants.html FKUS|e-globalcash/templates/home/merchants.html FKUS|e-globalcash/templates/home/merchants.html FKUS|e-globalcash/templates/home/merchants.html FKUS|e-globalcash/templates/home/merchants.html FKUS|e-globalcash/templates/home/merchants.html FKUS|e-globalcash/templates/home/merchants.html FKUS|e-globalcash/templates/home/merchants.html FKUS|e-globalcash/templates/home/merchants.html FKUS|e-globalcash/templates/home/merchants.html FKUS|e-globalcash/templates/home/merchants.html FKUS|e-globalcash/templates/home/merchants.html FKUS|e-globalcash/templates/home/merchants.html FKUS|e-globalcash/templates/home/merchants.html FKUS|e-globalcash/templates/home/merchants.html FKUS|e-globalcash/templates/home/merchants.html
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=utf-8 GENERATOR Microsoft\\ FrontPage\\ 5.0 ProgId FrontPage.Editor.Document
vti_charset:SR|utf-8
vti_progid:SR|FrontPage.Editor.Document
vti_generator:SR|Microsoft FrontPage 5.0
