vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|28 Feb 2010 13:54:00 -0000
vti_extenderversion:SR|5.0.2.6790
vti_author:SR|DELL\\Administrator
vti_modifiedby:SR|DELL\\Administrator
vti_timecreated:TR|28 Feb 2010 13:54:00 -0000
vti_cacheddtm:TX|28 Feb 2010 13:54:00 -0000
vti_filesize:IR|1910
vti_cachedlinkinfo:VX|A|{dev_get_page_link\\ page=PAGE_RESET_PASSWORD} H|javascript:\\ refreshSecureImage(); S|{dev_get_page_link\\ page=PAGE_SECUREIMAGE} H|{dev_get_page_link\\ page=PAGE_CONTACT_US}
vti_cachedsvcrellinks:VX|NAUS|e-globalcash/templates/home/{dev_get_page_link\\ page=PAGE_RESET_PASSWORD} SHUS|javascript:\\ refreshSecureImage(); NSUS|e-globalcash/templates/home/{dev_get_page_link\\ page=PAGE_SECUREIMAGE} NHUS|e-globalcash/templates/home/{dev_get_page_link\\ page=PAGE_CONTACT_US}
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_lineageid:SR|{5051287F-2493-46C9-8280-4CF1CDB2A18F}
vti_backlinkinfo:VX|
