vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|17 Jul 2010 05:40:38 -0000
vti_extenderversion:SR|5.0.2.6790
vti_author:SR|DELL\\Administrator
vti_modifiedby:SR|DELL\\Administrator
vti_timecreated:TR|01 Mar 2010 10:21:00 -0000
vti_lineageid:SR|{9F0CCBD5-C545-4C82-8A5F-E200FDDED78F}
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|01 Mar 2010 10:21:00 -0000
vti_cacheddtm:TX|17 Jul 2010 05:40:38 -0000
vti_filesize:IR|7396
vti_cachedlinkinfo:VX|A|{dev_get_page_link\\ page=PAGE_SIGNUP} H|javascript:\\ refreshSecureImage(); S|{dev_get_page_link\\ page=PAGE_SECUREIMAGE} H|{dev_get_page_link\\ page=PAGE_CONTACT_US} H|{dev_get_page_link\\ page=PAGE_TERMS}
vti_cachedsvcrellinks:VX|NAUS|e-globalcash/templates/home/{dev_get_page_link\\ page=PAGE_SIGNUP} SHUS|javascript:\\ refreshSecureImage(); NSUS|e-globalcash/templates/home/{dev_get_page_link\\ page=PAGE_SECUREIMAGE} NHUS|e-globalcash/templates/home/{dev_get_page_link\\ page=PAGE_CONTACT_US} NHUS|e-globalcash/templates/home/{dev_get_page_link\\ page=PAGE_TERMS}
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=utf-8 GENERATOR Microsoft\\ FrontPage\\ 5.0 ProgId FrontPage.Editor.Document
vti_charset:SR|utf-8
vti_progid:SR|FrontPage.Editor.Document
vti_generator:SR|Microsoft FrontPage 5.0
