<div class="simple-form">
    <h1>Transfer Successful </h1>

    {include file="common/validate_error.html" }
    {if !empty($success)}
    <p>Your transfer was successful!.</p>
    {if !empty($url)}
    <p>you will redirect within 10 seconds.</p>
    {/if}
    {if !empty($transaction_data)}
    <table class="form">
        <tbody><tr>
                <td class="form_label"><font size="2" face="Tahoma">Date:</font></td>
                <td class="form_field"><font size="2" face="Tahoma">{$transaction_data.transaction_time}</font></td>
            </tr>	
            <tr>
                <td class="form_label"><font size="2" face="Tahoma">Batch Number#:</font></td>
                <td class="form_field"><font size="2" face="Tahoma">{$transaction_data.batch_number}</font></td>
            </tr>	
            <tr>
                <td class="form_label"><font size="2" face="Tahoma">From:</font></td>
                <td class="form_field"><font size="2" face="Tahoma">{$transaction_data.from_account}(<strong>{$user_session.account_name}</strong>)</font></td>
            </tr>	    
            <tr>
                <td class="form_label"><font size="2" face="Tahoma">To:</font></td>
                <td class="form_field"><font size="2" face="Tahoma">{$transaction_data.to_account}</font></td>
            </tr>	 
            <tr>
                <td class="form_label"><font size="2" face="Tahoma">Amount:</font></td>
                <td class="form_field"><font size="2" face="Tahoma">{$transaction_data.amount_text}</font></td>
            </tr>	 
            <tr>
                <td class="form_label"><font size="2" face="Tahoma">Transaction Memo:</font></td>
                <td class="form_field"><font size="2" face="Tahoma">{$transaction_data.transaction_memo}</font></td>
            </tr>	       
            {if !empty($url)}
            <tr>
                <td class="">

                </td>
                <td class="">
                    <a href="{$url}" class="button">Return</a>
                </td>
            </tr>
            {/if}
        </tbody>
    </table>  
    {/if}
    {else}
    <p>Your transfer was error!</p>
    <table class="form">
        <tr>
            <td class="">

            </td>
            <td class="">
                <a href="{$url}" class="button">Return</a>
            </td>
        </tr>
    </table>
    {/if}
</div>

{if !empty($url)}
<script>
    var interval = 1000;
    var i = 3;
    var url = '{$url}'
    {literal}
    setInterval(function(){
        i--;
        if(i == 0){
            location= url;
        }
    }, interval);
    {/literal}
</script>

{/if}