<div class="footer-content">
    <div class="copyright">
        Copyright @ 2013 Ookcash
    </div>
    <div class="footer-info">

        <h1>Customer word</h1>
        <ul>
            <li><a href="#">Promotions</a></li>
            <li><a href="#">Newsletter</a></li>
            <li><a href="#">Participate in out suvery</a></li>
            <li><a href="#">Promotions</a></li>
        </ul>
    </div>
    <div class="footer-info">
        <h1>Get in touch</h1>
        <ul>
            <li><a href="#">Becomne a partner</a></li>
            <li><a href="#">Media contact</a></li>
            <li><a href="#">Sponsorship &  Support</a></li>
            <li><a href="#">Prequest a callback</a></li>
            <li><a href="#">Customer Assistance</a></li>
        </ul>
    </div>
    <div class="footer-info">
        <h1>Follow us</h1>
        <ul>
            <li><a href="#">Twiter</a></li>
            <li><a href="#">Google</a></li>
            <li><a href="#">Linkedin</a></li>
            <li><a href="#">Youtube</a></li>
        </ul>
    </div>
</div>