<form name="frmLoginConfirm" accept-charset="utf-8" action="" method="post" >
    <input name="action" value="process" type="hidden" />
    <div class="simple-form">
        <h1>Login: Step 2</h1>
        {include file="common/validate_error.html" }
        <div class="one-third">
            <h5>Your personal welcome message is:</h5>
            <p>{$user.welcome_message}</p>
            <fieldset>          
                {if !empty($mss_flag)}
                <p class="required">Please check your email to get verification code</p>
                <div class="st-form-line">
                    <span class="st-labeltext">Verification Code</span>
                    <input type="text" value="" id="verification_key" autocomplete="off" class="st-forminput medium" size="20" name="verification_key">
                    <div class="clear"></div>
                </div>
                {/if}
                <div class="st-form-line">
                    <input  name="confirm_message" id="confirm_message" type="checkbox" value="1"  onchange="checkConfirm();" />
                    <span>I confirm that my custom welcome message is correct</span>
                </div>
                <input  type="submit" id="buttonContinue" class="button"  value="Continue"  disabled="disabled" />
            </fieldset>           
        </div>
        <div class="one-third-big last" style="z-index: 870;">
            <p>Only OOKCASH knows your custom welcome message. Fake web sites that want you to enter your login information on their fake login pages will not be able to show it.</p><br>    
            <p>Close your browser and scan your computer for viruses if you do not see your custom welcome message during the login process</p>
        </div>
    </div>
</form>
{literal}
<script  type="text/javascript">
    function checkConfirm()
    {
        if (document.getElementById('confirm_message').checked) {
            document.getElementById('buttonContinue').disabled	=	false;
        }else {
            document.getElementById('buttonContinue').disabled	=	true;	
        }
    }
</script>
{/literal}