<h2>Users</h2>
{include file="$_TEMPLATE_SOURCE_DIR/modules/feedback_messages.tpl" }
<form name="frmSearch"  action="{dev_get_admin_page_link page=PAGE_USERS}"   method="post">
    <div  id="ajaxSearchContent" {if $action!='process_search'} style="display:none" {/if}>
          <h4>Search Filter</h4>
        <input type="hidden" name="action" value="process_search" >
        <table width="100%" cellpadding="2" cellspacing="2"  border="0">
            <tr><td width="100">Account Number</td><td><input name="account_number"   size="12" maxlength="12"   type="text"> </td></tr>
            <tr><td>Keyword</td><td><input name="keyword"   type="text"  size="50" > </td></tr>
        </table>
        <br>
    </div>
    <table width="20%" cellpadding="0" cellspacing="0"  border="0">
        <tr><td><input type="button"  class="button" id="buttonSearch"  value="Search User" /></td>
            <td><input type="button"  class="button" id="adduser" onclick="addUser()"  value="Add User" /></td></tr>
    </table>
</form>
<br>
<div  id="ajaxDetailsContent" style="display:none"></div>
<div  id="ajaxDetailsAddContent" {if empty($user_data_array)} style="display:none" {/if}>
      {if $feedback_err } 	
      <div class="validErrors" id="validErrorPanel">
        <ul>
            {foreach from=$feedback_err item=err key=k }
            <li><strong>{$k}:</strong> {$err}</li>
            {/foreach}
        </ul>
    </div>
    {/if}
    <form name="frmAdd" action="{dev_get_admin_page_link page=PAGE_USERS}" method="post" >
        <input type="hidden" name="action" value="add"  />

        <table width="100%" cellpadding="2" cellspacing="2"  border="0">
            <tr><td width="20%">First Name</td><td width="93%"><input name="firstname" value="{$user_data_array.firstname}" type="input"  /></td></tr>
            <tr><td>Last Name</td><td><input name="lastname" value="{$user_data_array.lastname}" type="input"  /></td></tr>
            <tr><td>E-mail</td><td><input name="email" value="{$user_data_array.email}" type="input"  /></td></tr>
            <tr><td>Mobile</td><td><input name="mobile" value="{$user_data_array.mobile}" type="input"  /></td></tr>
            <tr><td>Phone</td><td><input name="phone" value="{$user_data_array.phone}" type="input"  /></td></tr>
            <tr><td>Security Question</td><td><select name="security_question" class="inputselect" onchange="checkSecurityQuestion(this.value);">
                        {html_options options=$security_questions_array selected=$user_data_array.security_question}</select></td></tr>

            <tr><td>Answer</td><td><input name="security_answer" value="{$user_data_array.security_answer}" type="input"  /></td></tr>
            <tr><td>Acount name</td><td><input name="account_name" value="{$user_data_array.account_name}" type="input"  /></td></tr>
            <tr><td>Distributors</td><td><select name="distributors" class="inputselect">
                        {html_options options=$whosale selected=$user_data_array.distributors}</select></td></tr>
            <tr><td colspan="2">Personal welcome message<br/><textarea name="welcome_message" rows="3"  cols="80">{$user_data_array.welcome_message}</textarea></td></tr>

            <tr><td colspan="2">Additional Information<br /><textarea name="additional_information" rows="3"  cols="80">{$user_data_array.additional_information}</textarea></td></tr>

            <tr><td colspan="2"><input class="button" type="submit" value="Save"  /></td></tr>
        </table>
    </form>
    <br>
    <table width="100%" cellpadding="2" cellspacing="2"  border="0">
        <tr><td><a href="javascript: closeUserDetailsContent();" class="linkButton">Close</a></td></tr>
    </table>

</div>

{if $feedback_message } 	
<p><span class="success" >{$feedback_message}</span></p>
{/if}

<table width="100%" cellpadding="0" cellspacing="0"  border="0">
    <tr><td valign="top">
            <table width="100%" cellpadding="0" cellspacing="0" >
                <tr>
                    <td height="28" class="tableHeading">First Name#</td>
                    <td class="tableHeading">Last Name </td>			  
                    <td class="tableHeading">Account Number </td>			  
                    <td class="tableHeading">Account Name </td>			
                    <td class="tableHeading">Signup Date </td>			
                    <td class="tableHeading">Status</td>			
                    <td class="tableHeading" align="center">{$TEXT_ACTION}</td>
                </tr>
                {section name=useridx loop=$users}	
                {if ($smarty.section.useridx.index  % 2) == 0 } {assign var="rowstyle"  value="tableNormalRow"} {else}  {assign var="rowstyle" value="tableAltRow"}  {/if}		  
                <tr>
                    <td height="25"   class="{$rowstyle}">{$users[useridx].firstname}</td>
                    <td   class="{$rowstyle}">{$users[useridx].lastname}</td>			  			  
                    <td   class="{$rowstyle}"><strong>{$users[useridx].account_number}</strong></td>			  			  
                    <td   class="{$rowstyle}">{$users[useridx].account_name}</td>			  
                    <td class="{$rowstyle}">{$users[useridx].signup_date|date_format:"%m/%d/%Y %l:%M %p" }</td>			  			  
                    <td   class="{$rowstyle}" id="status-{$users[useridx].user_id}">
                        {$users[useridx].status|status_user}
                    </td>
                    <td width="17%"  class="{$rowstyle}"  align="center"><a href="javascript:editUser({$users[useridx].user_id});" class="linkButton">Edit</a>&nbsp;<a href="javascript:getUserDetails({$users[useridx].user_id});" class="linkButton">{$ACTION_VIEW}</a>
                        &nbsp;
                        <span id="action-user-{$users[useridx].user_id}">
                            {if $users[useridx].status == 1}

                            <a class="linkButton" id="" href="javascript:deactiveUser({$users[useridx].user_id});" >De-active</a></td>
                    {else}
                <a class="linkButton" href="javascript:activeUser({$users[useridx].user_id});" >Active</a>
                </span>
        </td>
        {/if}
    </tr>
    {/section}
</table>
</td>
</tr>
</table>
</div>
{if count($users)>0} 
<div align="center">{$TEXT_PAGES}{$page_links}</div>
{/if}
