/* 
    Document   : ie7
    Created on : 26-07-2013, 14:21:18
    Author     : ngoalongkt
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.right-content  .box  .content  ul  li,#footer ul li{
    height: auto;
}

