<div class="pageHeading" align="center">{$HEADING_NEW_INFO}</div><br />
{include file="$_TEMPLATE_SOURCE_DIR/modules/validate_error.tpl" }
<div>
<form action="{$action_link}" method="post" name="frmInfo" >
 	<table width="100%" cellpadding="2" cellspacing="2" >
		<tr>
		  <td width="22%">{$LABEL_INFO_KEY}*</td>
		  <td width="78%"><input name="info_key" type="text" id="info_key" value="{$info_key}"></td>
	  </tr>
		<tr>
		  <td>{$LABEL_INFO_TITLE}</td>
		  <td><input name="info_title" type="text" id="info_title" value="{$info_title}" size="50"></td>
	  </tr>
		<tr>
		  <td>{$LABEL_INFO_CONTENT}*</td>
		  <td><textarea name="info_content" cols="50" rows="10" id="info_content">{$info_content}</textarea></td>
	  </tr>
		<tr>
		  <td>{$LABEL_INFO_DESC}</td>
		  <td><input name="info_description" type="text" id="info_description" value="{$info_description}" size="50"></td>
	  </tr>
		<tr>
		  <td>{$LABEL_INFO_USAGE}</td>
	    <td><textarea name="info_usage" cols="50" rows="5" id="info_usage">{$info_usage}</textarea></td></tr>
		<tr>
		  <td>&nbsp;</td>
		  <td><div align="center">
		    <input type="submit" name="Submit" value="{$BUTTON_SUBMIT}">
	        <input type="button" name="btnCancel" value="{$BUTTON_CANCEL}" onClick="window.location	=	'{$back_link}';">
		  </div></td>
	  </tr>
	</table>
</form>	
</div>