vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|17 Jul 2010 07:08:26 -0000
vti_extenderversion:SR|5.0.2.6790
vti_author:SR|DELL\\Administrator
vti_modifiedby:SR|DELL\\Administrator
vti_timecreated:TR|01 Mar 2010 09:08:00 -0000
vti_lineageid:SR|{E5D04E25-915D-4BF7-913A-877449F13398}
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|01 Mar 2010 09:08:00 -0000
vti_cacheddtm:TX|17 Jul 2010 07:08:26 -0000
vti_filesize:IR|12607
vti_cachedlinkinfo:VX|A|{dev_get_page_link\\ page=PAGE_SERVICE_SEARCH_USER} H|javascript:\\ refreshSecureImage(); S|{dev_get_link\\ page='module=secureimage&page=secureimage&load=notrefresh'\\ } A|{dev_get_page_link\\ page=PAGE_ACCOUNT_REMIND} H|javascript:\\ refreshSecureImage(); S|{dev_get_link\\ page='module=secureimage&page=secureimage&load=notrefresh&reload=1'\\ }
vti_cachedsvcrellinks:VX|NAUS|e-globalcash/templates/services/{dev_get_page_link\\ page=PAGE_SERVICE_SEARCH_USER} SHUS|javascript:\\ refreshSecureImage(); NSUS|e-globalcash/templates/services/{dev_get_link\\ page='module=secureimage&page=secureimage&load=notrefresh'\\ } NAUS|e-globalcash/templates/services/{dev_get_page_link\\ page=PAGE_ACCOUNT_REMIND} SHUS|javascript:\\ refreshSecureImage(); NSUS|e-globalcash/templates/services/{dev_get_link\\ page='module=secureimage&page=secureimage&load=notrefresh&reload=1'\\ }
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=utf-8 GENERATOR Microsoft\\ FrontPage\\ 5.0 ProgId FrontPage.Editor.Document
vti_charset:SR|utf-8
vti_progid:SR|FrontPage.Editor.Document
vti_generator:SR|Microsoft FrontPage 5.0
