vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|02 Mar 2010 02:10:00 -0000
vti_extenderversion:SR|5.0.2.6790
vti_author:SR|DELL\\Administrator
vti_modifiedby:SR|DELL\\Administrator
vti_timecreated:TR|02 Mar 2010 02:10:00 -0000
vti_cacheddtm:TX|02 Mar 2010 02:10:00 -0000
vti_filesize:IR|8660
vti_cachedlinkinfo:VX|A|{dev_get_page_link\\ page=PAGE_SERVICE_SEARCH_USER} H|javascript:\\ refreshSecureImage(); S|{dev_get_page_link\\ page=PAGE_SECUREIMAGE} H|{dev_get_page_link\\ page=PAGE_CONTACT_US}
vti_cachedsvcrellinks:VX|NAUS|e-globalcash/templates/services/{dev_get_page_link\\ page=PAGE_SERVICE_SEARCH_USER} SHUS|javascript:\\ refreshSecureImage(); NSUS|e-globalcash/templates/services/{dev_get_page_link\\ page=PAGE_SECUREIMAGE} NHUS|e-globalcash/templates/services/{dev_get_page_link\\ page=PAGE_CONTACT_US}
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_lineageid:SR|{E1187A53-2728-4FA8-906D-A1DFC25CFE57}
vti_backlinkinfo:VX|
